<a href="https://colab.research.google.com/github/ghghkdxoodns/python/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
dates = pddates = pd.date_range('20201113', periods=6)
dates

DatetimeIndex(['2020-11-13', '2020-11-14', '2020-11-15', '2020-11-16',
               '2020-11-17', '2020-11-18'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [13]:
df.mean(0)

A   -0.229466
B    0.007416
C    0.069517
D    0.256633
dtype: float64

In [14]:
df.mean(1)

2020-11-13   -0.918136
2020-11-14    0.868509
2020-11-15    0.022606
2020-11-16    0.039608
2020-11-17    0.643352
2020-11-18   -0.499788
Freq: D, dtype: float64

In [16]:
df.apply(np.cumsum, axis=0)

                   A         B         C         D
2020-11-13 -1.963307 -0.859548 -1.746795  0.897107
2020-11-14 -1.036422  0.248947 -2.606438  3.195407
2020-11-15 -0.852916  1.061579 -2.552304  2.235557
2020-11-16 -0.489414  0.253568 -1.820583  2.106778
2020-11-17 -1.277342  0.653806  0.729161  2.518134
2020-11-18 -1.376793  0.044496  0.417102  1.539801

In [17]:
df.apply(np.cumsum, axis=1)

                   A         B         C         D
2020-11-13 -1.963307 -2.822855 -4.569650 -3.672543
2020-11-14  0.926885  2.035380  1.175738  3.474038
2020-11-15  0.183506  0.996138  1.050272  0.090422
2020-11-16  0.363502 -0.444508  0.287213  0.158434
2020-11-17 -0.787929 -0.387691  2.162053  2.573409
2020-11-18 -0.099451 -0.708761 -1.020820 -1.999154

In [22]:
df

                   A         B         C         D
2020-11-13 -1.963307 -0.859548 -1.746795  0.897107
2020-11-14  0.926885  1.108495 -0.859643  2.298300
2020-11-15  0.183506  0.812632  0.054134 -0.959849
2020-11-16  0.363502 -0.808011  0.731721 -0.128779
2020-11-17 -0.787929  0.400237  2.549744  0.411356
2020-11-18 -0.099451 -0.609310 -0.312059 -0.978334

In [23]:
df.apply(lambda x: x.max() - x.min(), axis=1)

2020-11-13    2.860413
2020-11-14    3.157943
2020-11-15    1.772481
2020-11-16    1.539732
2020-11-17    3.337672
2020-11-18    0.878883
Freq: D, dtype: float64

In [34]:
S = pd.Series(np.random.randint(1, 7, size = 6))
S.value_counts()

2    2
1    2
6    1
3    1
dtype: int64

In [32]:
S.value_counts()

5    2
3    2
4    1
1    1
dtype: int64

In [39]:
df = pd.DataFrame(np.random.randn(10,4)

SyntaxError: ignored

In [37]:
df[3:7]

                   A         B         C         D
2020-11-16  0.363502 -0.808011  0.731721 -0.128779
2020-11-17 -0.787929  0.400237  2.549744  0.411356
2020-11-18 -0.099451 -0.609310 -0.312059 -0.978334

In [38]:
df[7:]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [42]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

[                   A         B         C         D
 2020-11-13 -1.963307 -0.859548 -1.746795  0.897107
 2020-11-14  0.926885  1.108495 -0.859643  2.298300
 2020-11-15  0.183506  0.812632  0.054134 -0.959849,
                    A         B         C         D
 2020-11-16  0.363502 -0.808011  0.731721 -0.128779
 2020-11-17 -0.787929  0.400237  2.549744  0.411356
 2020-11-18 -0.099451 -0.609310 -0.312059 -0.978334,
 Empty DataFrame
 Columns: [A, B, C, D]
 Index: []]

In [45]:
pd.concat(pieces)

                   A         B         C         D
2020-11-13 -1.963307 -0.859548 -1.746795  0.897107
2020-11-14  0.926885  1.108495 -0.859643  2.298300
2020-11-15  0.183506  0.812632  0.054134 -0.959849
2020-11-16  0.363502 -0.808011  0.731721 -0.128779
2020-11-17 -0.787929  0.400237  2.549744  0.411356
2020-11-18 -0.099451 -0.609310 -0.312059 -0.978334

In [47]:
left = pd.DataFrame(
    {
        'key':['foo', 'foo'], 'lval': [1, 2]
     }
     )
right = pd.DataFrame({'key':['foo', 'foo'], 'rval': [4, 5]})

In [48]:
pd.merge(left, right, on = 'key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [49]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])

In [50]:
df

          A         B         C         D
0 -0.233583  0.862547  0.479262  0.261056
1 -1.352825 -1.544542 -1.132696 -0.495270
2  0.505297 -0.241034  0.240782  0.435384
3 -0.999358 -0.371177  0.089597 -0.403972
4  0.023602  0.830046 -0.584650 -0.497928
5 -1.653680  1.903195 -0.775336  0.000814
6 -0.566483  0.958787  2.006145  1.042447
7 -0.170659  1.333832 -0.868292  2.498299

In [51]:
s = df.iloc[3]

In [52]:
s

A   -0.999358
B   -0.371177
C    0.089597
D   -0.403972
Name: 3, dtype: float64

In [53]:
print(df.append(s, ignore_index=True))

          A         B         C         D
0 -0.233583  0.862547  0.479262  0.261056
1 -1.352825 -1.544542 -1.132696 -0.495270
2  0.505297 -0.241034  0.240782  0.435384
3 -0.999358 -0.371177  0.089597 -0.403972
4  0.023602  0.830046 -0.584650 -0.497928
5 -1.653680  1.903195 -0.775336  0.000814
6 -0.566483  0.958787  2.006145  1.042447
7 -0.170659  1.333832 -0.868292  2.498299
8 -0.999358 -0.371177  0.089597 -0.403972