<a href="https://colab.research.google.com/github/ghghkdxoodns/python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [38]:
s = pd.Series( [1, 3, 5, np.nan, 6, 8] )
print(s)
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [39]:
dates = pd.date_range('20210507' , periods=6)
dates

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df = pd. DataFrame(np.random. randn (6,4))
df

          0         1         2         3
0 -2.299846  1.094764 -0.799464 -1.834720
1 -1.107121  1.029373  0.512474 -0.782756
2  1.140402  0.568290  2.149422 -0.828023
3 -0.617204  0.183022 -1.512108  0.213375
4 -0.485027 -0.318074 -1.539433  0.115729
5  0.359154  1.070215  0.791585 -0.708011

In [14]:
df = pd. DataFrame(np.random. randn (6,4), index=dates)
df

                                      0         1         2         3
1970-01-01 00:00:00.020210507  0.379249  0.810094 -1.021874  0.842669
1970-01-02 00:00:00.020210507  0.779553 -0.262229 -0.354616  0.135461
1970-01-03 00:00:00.020210507 -2.011881 -0.771128 -1.825895 -0.377376
1970-01-04 00:00:00.020210507  0.117029  1.802009 -0.664832 -0.049816
1970-01-05 00:00:00.020210507 -1.258301 -0.463520 -1.141369 -0.536003
1970-01-06 00:00:00.020210507  0.795839 -0.227453  0.225345  0.322114

In [18]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                                      A         B         C         D
1970-01-01 00:00:00.020210507  0.582069 -0.053045  0.103758 -0.404378
1970-01-02 00:00:00.020210507 -1.871162 -0.916233  0.191765 -0.054143
1970-01-03 00:00:00.020210507  1.354301 -1.258379  1.061683  0.769704
1970-01-04 00:00:00.020210507 -0.979992  0.111152 -0.258456 -0.575665
1970-01-05 00:00:00.020210507 -0.466762 -0.011605  0.548530 -0.187398
1970-01-06 00:00:00.020210507 -0.807876  0.042032  0.062055 -0.063781

In [36]:
df2 = pd.DataFrame(
    {
        'A': 1.,
        'B': pd.Timestamp('20201113'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(["test", "train", "test", "train"]),
        'F': 'foo'
     }
)
df2

     A          B    C  D      E    F
0  1.0 2020-11-13  1.0  3   test  foo
1  1.0 2020-11-13  1.0  3  train  foo
2  1.0 2020-11-13  1.0  3   test  foo
3  1.0 2020-11-13  1.0  3  train  foo

In [25]:
df.tail(2)

                                      A         B         C         D
1970-01-05 00:00:00.020210507 -0.466762 -0.011605  0.548530 -0.187398
1970-01-06 00:00:00.020210507 -0.807876  0.042032  0.062055 -0.063781

In [24]:
df

                                      A         B         C         D
1970-01-01 00:00:00.020210507  0.582069 -0.053045  0.103758 -0.404378
1970-01-02 00:00:00.020210507 -1.871162 -0.916233  0.191765 -0.054143
1970-01-03 00:00:00.020210507  1.354301 -1.258379  1.061683  0.769704
1970-01-04 00:00:00.020210507 -0.979992  0.111152 -0.258456 -0.575665
1970-01-05 00:00:00.020210507 -0.466762 -0.011605  0.548530 -0.187398
1970-01-06 00:00:00.020210507 -0.807876  0.042032  0.062055 -0.063781

In [26]:
df.index

DatetimeIndex(['1970-01-01 00:00:00.020210507',
               '1970-01-02 00:00:00.020210507',
               '1970-01-03 00:00:00.020210507',
               '1970-01-04 00:00:00.020210507',
               '1970-01-05 00:00:00.020210507',
               '1970-01-06 00:00:00.020210507'],
              dtype='datetime64[ns]', freq='D')

In [27]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [29]:
df.values

array([[ 0.58206861, -0.05304493,  0.10375788, -0.40437814],
       [-1.8711623 , -0.91623332,  0.1917647 , -0.05414339],
       [ 1.3543008 , -1.25837871,  1.06168251,  0.76970448],
       [-0.97999187,  0.11115172, -0.25845649, -0.57566465],
       [-0.46676185, -0.01160493,  0.54853044, -0.18739781],
       [-0.80787595,  0.04203166,  0.06205516, -0.06378052]])

In [32]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.364904 -0.347680  0.284889 -0.085943
std    1.158116  0.585625  0.460277  0.465866
min   -1.871162 -1.258379 -0.258456 -0.575665
25%   -0.936963 -0.700436  0.072481 -0.350133
50%   -0.637319 -0.032325  0.147761 -0.125589
75%    0.319861  0.028623  0.459339 -0.056553
max    1.354301  0.111152  1.061683  0.769704

In [33]:
df

                                      A         B         C         D
1970-01-01 00:00:00.020210507  0.582069 -0.053045  0.103758 -0.404378
1970-01-02 00:00:00.020210507 -1.871162 -0.916233  0.191765 -0.054143
1970-01-03 00:00:00.020210507  1.354301 -1.258379  1.061683  0.769704
1970-01-04 00:00:00.020210507 -0.979992  0.111152 -0.258456 -0.575665
1970-01-05 00:00:00.020210507 -0.466762 -0.011605  0.548530 -0.187398
1970-01-06 00:00:00.020210507 -0.807876  0.042032  0.062055 -0.063781

In [35]:
df.T

   1970-01-01 00:00:00.020210507  ...  1970-01-06 00:00:00.020210507
A                       0.582069  ...                      -0.807876
B                      -0.053045  ...                       0.042032
C                       0.103758  ...                       0.062055
D                      -0.404378  ...                      -0.063781

[4 rows x 6 columns]

In [41]:
df.sort_index(axis=1,ascending=True)

                                      A         B         C         D
1970-01-01 00:00:00.020210507  0.582069 -0.053045  0.103758 -0.404378
1970-01-02 00:00:00.020210507 -1.871162 -0.916233  0.191765 -0.054143
1970-01-03 00:00:00.020210507  1.354301 -1.258379  1.061683  0.769704
1970-01-04 00:00:00.020210507 -0.979992  0.111152 -0.258456 -0.575665
1970-01-05 00:00:00.020210507 -0.466762 -0.011605  0.548530 -0.187398
1970-01-06 00:00:00.020210507 -0.807876  0.042032  0.062055 -0.063781

In [42]:
df.sort_index(axis=1,ascending=False)

                                      D         C         B         A
1970-01-01 00:00:00.020210507 -0.404378  0.103758 -0.053045  0.582069
1970-01-02 00:00:00.020210507 -0.054143  0.191765 -0.916233 -1.871162
1970-01-03 00:00:00.020210507  0.769704  1.061683 -1.258379  1.354301
1970-01-04 00:00:00.020210507 -0.575665 -0.258456  0.111152 -0.979992
1970-01-05 00:00:00.020210507 -0.187398  0.548530 -0.011605 -0.466762
1970-01-06 00:00:00.020210507 -0.063781  0.062055  0.042032 -0.807876

In [44]:
df.sort_index(axis=0,ascending=True)

                                      A         B         C         D
1970-01-01 00:00:00.020210507  0.582069 -0.053045  0.103758 -0.404378
1970-01-02 00:00:00.020210507 -1.871162 -0.916233  0.191765 -0.054143
1970-01-03 00:00:00.020210507  1.354301 -1.258379  1.061683  0.769704
1970-01-04 00:00:00.020210507 -0.979992  0.111152 -0.258456 -0.575665
1970-01-05 00:00:00.020210507 -0.466762 -0.011605  0.548530 -0.187398
1970-01-06 00:00:00.020210507 -0.807876  0.042032  0.062055 -0.063781

In [45]:
df.sort_index(axis=0,ascending=False)

                                      A         B         C         D
1970-01-06 00:00:00.020210507 -0.807876  0.042032  0.062055 -0.063781
1970-01-05 00:00:00.020210507 -0.466762 -0.011605  0.548530 -0.187398
1970-01-04 00:00:00.020210507 -0.979992  0.111152 -0.258456 -0.575665
1970-01-03 00:00:00.020210507  1.354301 -1.258379  1.061683  0.769704
1970-01-02 00:00:00.020210507 -1.871162 -0.916233  0.191765 -0.054143
1970-01-01 00:00:00.020210507  0.582069 -0.053045  0.103758 -0.404378

In [48]:
df.sort_values(by='B')

                                      A         B         C         D
1970-01-03 00:00:00.020210507  1.354301 -1.258379  1.061683  0.769704
1970-01-02 00:00:00.020210507 -1.871162 -0.916233  0.191765 -0.054143
1970-01-01 00:00:00.020210507  0.582069 -0.053045  0.103758 -0.404378
1970-01-05 00:00:00.020210507 -0.466762 -0.011605  0.548530 -0.187398
1970-01-06 00:00:00.020210507 -0.807876  0.042032  0.062055 -0.063781
1970-01-04 00:00:00.020210507 -0.979992  0.111152 -0.258456 -0.575665

In [49]:
df[ 'A' ]

1970-01-01 00:00:00.020210507    0.582069
1970-01-02 00:00:00.020210507   -1.871162
1970-01-03 00:00:00.020210507    1.354301
1970-01-04 00:00:00.020210507   -0.979992
1970-01-05 00:00:00.020210507   -0.466762
1970-01-06 00:00:00.020210507   -0.807876
Freq: D, Name: A, dtype: float64

In [50]:
df[ 'B' ]

1970-01-01 00:00:00.020210507   -0.053045
1970-01-02 00:00:00.020210507   -0.916233
1970-01-03 00:00:00.020210507   -1.258379
1970-01-04 00:00:00.020210507    0.111152
1970-01-05 00:00:00.020210507   -0.011605
1970-01-06 00:00:00.020210507    0.042032
Freq: D, Name: B, dtype: float64

In [52]:
df[ ['A','D'] ]

                                      A         D
1970-01-01 00:00:00.020210507  0.582069 -0.404378
1970-01-02 00:00:00.020210507 -1.871162 -0.054143
1970-01-03 00:00:00.020210507  1.354301  0.769704
1970-01-04 00:00:00.020210507 -0.979992 -0.575665
1970-01-05 00:00:00.020210507 -0.466762 -0.187398
1970-01-06 00:00:00.020210507 -0.807876 -0.063781

In [55]:
df.loc[:,['A']]

                                      A
1970-01-01 00:00:00.020210507  0.582069
1970-01-02 00:00:00.020210507 -1.871162
1970-01-03 00:00:00.020210507  1.354301
1970-01-04 00:00:00.020210507 -0.979992
1970-01-05 00:00:00.020210507 -0.466762
1970-01-06 00:00:00.020210507 -0.807876

In [57]:
df.iloc[[1,3],[0,3]]

                                      A         D
1970-01-02 00:00:00.020210507 -1.871162 -0.054143
1970-01-04 00:00:00.020210507 -0.979992 -0.575665

In [59]:
df.iloc[0,0]

0.5820686130476767

In [60]:
df.iloc[3,2]

-0.25845648759553497

In [61]:
df. iloc[[1,3],[1,3]]

                                      B         D
1970-01-02 00:00:00.020210507 -0.916233 -0.054143
1970-01-04 00:00:00.020210507  0.111152 -0.575665

In [62]:
df

                                      A         B         C         D
1970-01-01 00:00:00.020210507  0.582069 -0.053045  0.103758 -0.404378
1970-01-02 00:00:00.020210507 -1.871162 -0.916233  0.191765 -0.054143
1970-01-03 00:00:00.020210507  1.354301 -1.258379  1.061683  0.769704
1970-01-04 00:00:00.020210507 -0.979992  0.111152 -0.258456 -0.575665
1970-01-05 00:00:00.020210507 -0.466762 -0.011605  0.548530 -0.187398
1970-01-06 00:00:00.020210507 -0.807876  0.042032  0.062055 -0.063781

In [63]:
df.A

1970-01-01 00:00:00.020210507    0.582069
1970-01-02 00:00:00.020210507   -1.871162
1970-01-03 00:00:00.020210507    1.354301
1970-01-04 00:00:00.020210507   -0.979992
1970-01-05 00:00:00.020210507   -0.466762
1970-01-06 00:00:00.020210507   -0.807876
Freq: D, Name: A, dtype: float64

In [64]:
df.A > 0

1970-01-01 00:00:00.020210507     True
1970-01-02 00:00:00.020210507    False
1970-01-03 00:00:00.020210507     True
1970-01-04 00:00:00.020210507    False
1970-01-05 00:00:00.020210507    False
1970-01-06 00:00:00.020210507    False
Freq: D, Name: A, dtype: bool

In [67]:
df.A > 0.5

1970-01-01 00:00:00.020210507     True
1970-01-02 00:00:00.020210507    False
1970-01-03 00:00:00.020210507     True
1970-01-04 00:00:00.020210507    False
1970-01-05 00:00:00.020210507    False
1970-01-06 00:00:00.020210507    False
Freq: D, Name: A, dtype: bool

In [68]:
df[df>0]

                                      A         B         C         D
1970-01-01 00:00:00.020210507  0.582069       NaN  0.103758       NaN
1970-01-02 00:00:00.020210507       NaN       NaN  0.191765       NaN
1970-01-03 00:00:00.020210507  1.354301       NaN  1.061683  0.769704
1970-01-04 00:00:00.020210507       NaN  0.111152       NaN       NaN
1970-01-05 00:00:00.020210507       NaN       NaN  0.548530       NaN
1970-01-06 00:00:00.020210507       NaN  0.042032  0.062055       NaN

In [84]:
df2 = df.copy()

In [85]:
df2 = df

In [86]:
df['E']=[1,2,3,4,5,6]